/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* begin code */

body{
font-size: 16px;
font-family: 'Roboto';
box-sizing: border-box;
}

.all_content{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 110px;
    padding-bottom: 100px;
    display: flex;
    width: 85%;
    flex-direction: row;
    justify-content: space-between;

}

.informational_content{
    width: 50%;
}

.me_dog{
    width: 50%;
    height: auto;
    border-radius: 8px;
    margin: auto;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
    -webkit-transition: -webkit-transform .3s ease-in-out;
          transition:         transform .3s ease-in-out;
}

.me_dog:hover{
    -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

p{
    max-width: 350px;
    line-height: 1.8;
}

h1{
    font-size: 3em;
    font-family: 'Mukta';
    font-weight: 800;
    color: #6831DE;
    margin-bottom: 20px;
}

h2{
    font-size: 1.5em;
    font-family: 'Mukta';
    font-weight: 700;
    color: #6831DE;
    margin-bottom: 20px;
}

.bio{
    max-width: 350px;
    line-height: 1.8;
    opacity: 0.7;
}

.name_bio{
    max-width: 80%;
    height: 100px;
margin-bottom: 150px;
}

.exercises_projects{
    width: 350px;
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

.links{
    transition-duration: 0.3s;
}

.links:hover {
text-decoration: line-through;
text-decoration-color: #6831DE;
cursor: pointer;
color: #6831DE;
}

