/*********************************
General Formatting (Do Not Change)
*********************************/

* {
    box-sizing: border-box;
}

html {
    /* sets base font size for rem sizing */
    font-size: 16px;
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
}

nav,
aside,
article {
    padding: .5rem;
}

nav, aside {
    background-color: #b5e7a0;
}


/**************
Your Formatting
***************/
header,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #86af49;
}

.menuitem{
    background-color: white;
    margin: 0;
    border-top: 1px solid #b5e7a0;
}

.submenu{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.submenu li{
    padding-left: .25rem;
    background: lightgray;
}

#wrapper{
    display: grid;
    max-width: 100vw;
    grid-template-areas:
    "header"
    "nav"
    "article"
    "aside"
    "footer"
}

header{
    grid-area: header;
}

nav{
    grid-area: nav;
}

article{
    grid-area: article;
}

aside{
    grid-area: aside;
}

footer{
    grid-area: footer;
}

@media (min-width: 800px) {
    #wrapper{
        margin: auto;
        width: 90vw;
        max-width: 1200px;
        min-height: 100vh;
        grid-template-columns: 1fr 2fr 200px;
        grid-template-rows: 4rem 1fr 3rem;
        grid-template-areas:
        "header header header"
        "aside article nav"
        "footer footer footer";
    }
}

